body {
	font-family: Arial, sans-serif;
	padding: 10px
}

nav a {
	margin-right: 10px
}

.container {
	max-width: 900px;
	margin: 0 auto
}

table {
	width: 100%;
	border-collapse: collapse
}

td, th {
	border: 1px solid #ddd;
	padding: 8px
}

.error {
	color: red
}